html 
    head 
        meta(http-equiv="content-type" content="text/html; charset=UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge" , chrome="1")
        meta(name="HandheldFriendly" content="true")

        title Heart 

        link(rel="stylesheet" href="/Resources/CSS-Files/vJyUgYatdfX7sngXOsdL.css")
        link(rel="icon" type="image/png" href="Pictures/Logo.png")
        script(src="http://localhost:8000/socket.io/socket.io.js")

    body 
        div#Extras_Container
            div#Annoucments

        div#Root_Container

            div#JS(style="position: absolute;")

            div#Failed_Container(style="width: 100vw; height: 100vh; background-image: linear-gradient(20deg, #3A649D, #3A439D); background-attachment: local; background-size: cover; background-position: center; display: none;")
                div(style="display: flex; align-items: center; justify-content: center; padding-top: 20vh;")
                    img(style="width: 10vw;" src="https://www.iconsdb.com/icons/preview/red/error-7-xxl.png")
                    div(style="margin-left: 2vw;")
                        h1(style="color: #ffffff; text-align: center; font-family: verdana; font-size: 300%; font-weight: 500;") Failed to load.
                        h3(style="color: #ffffff; text-align: center; font-family: verdana; font-size: 125%; font-weight: 500; margin-top: 1vh;") Sorry but we failed to load this page.

                div(style="margin-top: 25%;")
                    ul(style="list-style: none;")
                        li(style="list-style: none;")
                            h3(style="color: #ffffff; text-align: center; font-family: verdana; font-size: 100%; font-weight: 200;") We failed to load the <b>page</b>.

        script(src="/Resources/JS-Files/H0NIGBbT6GldA0P4ilUi.js")
        script(src="/Resources/JS-Files/qDcr7ACgGaX6NT6VyvsC.js")

        noscript
            body(style="margin: 0; margin: 0;")
                div(style="width: 100vw; height: 100vh; background-image: linear-gradient(20deg, #3A649D, #3A439D); background-attachment: local; background-size: cover; background-position: center; display: block;")
                    div(style="display: flex; align-items: center; justify-content: center; padding-top: 20vh;")
                        img(style="width: 10vw;" src="https://www.iconsdb.com/icons/preview/red/error-7-xxl.png")
                        div(style="margin-left: 2vw;")
                            h1(style="color: #ffffff; text-align: center; font-family: verdana; font-size: 300%; font-weight: 500;") You dont have <b>JavaScript</b> enabled.
                            h3(style="color: #ffffff; text-align: center; font-family: verdana; font-size: 125%; font-weight: 500; margin-top: 1vh;") <b>JavaScript</b> is a needed asset for this site.

                    <div style="margin-top: 25%;">
                        ul(style="list-style: none;")
                            li(style="list-style: none;")
                                h3(style="color: #ffffff; text-align: center; font-family: verdana; font-size: 100%; font-weight: 200;") Enable JavaScript in the <b>site settings</b>.
